[2017-02-06 12:05] thenonameguy opened #3 "Add Boot support"
There could be a [boot-garden](https://github.com/martinklepsch/boot-garden)-like task that does the compilation process. This requires API changes though so these parameters can be passed through other than the cljs compiler options.

Doing this would also open up the possibility to have separate css files (maybe per-component?) for HTTP2-supported browsers.

I'll take a stab at this on the weeke

[2017-02-06 12:10] roman01la commented on #3
@thenonameguy Why would you want to have separate CSS file per component? Everything is already bundled into a single file.
Other than that I would be happy to accept a PR to make this work for Boor.

[2017-02-06 17:51] thenonameguy commented on #3
@roman01la For reasons described here: https://blog.cloudflare.com/http-2-for-web-developers/#stopconcatenatingfiles

[2017-02-06 22:04] roman01la commented on #3
@thenonameguy This sounds reasonable, but I don't really want to overload this library with configuration options. Unless you find a nice way of doing this.

[2017-02-14 17:04] rafaelzlisboa opened #5 "Unable to require cljss.core"
I generated a project with the re-frame template and tried to use cljss, but I'm unable to import it in the code, with this error:

[code]

This is what the lein's `project.clj` deps look like now:

[code]

If I run `lein figwheel` and try to `(require '[cljss.core])` on the REPL it also doesn't seem to find the namespace.

--

I believe this happens because there is no `.cljs` file on the project

[2017-02-14 20:46] roman01la commented on #5
Hi @rafaelzlisboa

Not sure about this, but could you try to compile your project without figwheel and see if it fails?

[2017-02-14 21:30] rafaelzlisboa commented on #5
@roman01la yeap - just tried and same thing happened :(
`lein cljsbuild once` fails with a similar error:

[code]

I also tried changing the clojure and clojurescript used to the same defined in cljss's `project.clj`

[2017-02-15 09:12] roman01la commented on #5
@rafaelzlisboa Thanks.

One more try: could you try to do it with `(:require-macros [cljss.core :refer [defstyles]])` ?

[2017-02-15 12:54] rafaelzlisboa commented on #5
@roman01la Good catch! It worked with `require-macros`.

[2017-02-15 13:31] roman01la commented on #5
Yeah, I had this issue when using with Figwheel. Not sure if it is a bug, but going to report.

[2017-02-15 14:41] roman01la commented on #5
@rafaelzlisboa apparently this is not an issue, but an expected behavior of the compiler

does it mean that `:require-macros` explicitly tells compiler to look for  `clj` files, but with other forms of `require` compiler first requires `cljs`?

yes that’s how it actually works

however in the case that `foo.cljs` `:require-macros` `foo.clj`

when users `:require` `foo.cljs`, we will automatically

[2017-02-15 14:41] #5 closed

[2017-07-06 16:28] tomconnors opened #6 "curious about plans for library"
Hi, I noticed you recently removed the defstyles macro and am curious what your plans are for this library. I like the css in cljs approach and would like to use it in a reagent project, but I prefer the defstyles macro to defstyled because the former seems more reusable and the latter requires the user to treat elements with styles specially.

[2017-07-07 07:54] roman01la commented on #6
Hi! Thanks for letting me know! I removed it because I didn't need it, but that's fine I'll put it back shortly. Sorry for that 😅

[2017-07-07 07:55] roman01la commented on #3
closing this for now

[2017-07-07 07:55] #3 closed

[2017-07-07 13:38] tomconnors commented on #6
I see you already put it back in, thanks a lot!

[2017-07-07 13:38] #6 closed

[2017-07-07 14:02] roman01la commented on #6
FYI I've also added support for `defstyled` in different React wrappers like Rum, Om and Reagent.

[2017-07-07 14:12] tomconnors commented on #6
Thanks for letting me know. I'm not sure what the advantage of defstyled is though, mind clarifying? Here's an example that makes defstyles look better to me:

[code]

The `red-text` class is reusable for different tags, but that isn't very important to me. What I care about is it seems better to not have to create another component for a tag just because it has styles. Am I missing something?

[2017-07-07 16:32] roman01la commented on #6
Yes, sure. You can think of `defstyled` as a styling primitive that is on a higher level of abstraction than what `defstyles` provides. There's not much to it. If you prefer `defstyles` you definitely should use it, it's just that I prefer to operate on components level :)

[2017-07-07 20:21] tomconnors commented on #6
Thanks for explaining. I'm about to open another unrelated issue. Sorry for the barrage.

[2017-07-07 20:23] tomconnors opened #7 "media queries"
It doesn't look like cljss supports media queries. Would you be open to adding this feature to the lib?

[2017-07-07 21:07] roman01la commented on #7
Yes. Also I plan to work on keyframes animation syntax.

[2017-07-12 18:09] esseswann opened #8 "Styles extraction"
@roman01la Do you see any possibilities to implement styles extraction to a minified file like [emotion](https://github.com/tkh44/emotion/blob/master/docs/extract-mode.md) does?

[2017-07-12 21:22] roman01la commented on #8
‪It was there in the previous version, implemented in a macro, but I removed this functionality because macros, state and side-effects doesn't play well together.

Also static extraction makes it impossible to leverage dead code elimination on styles.

[2017-07-13 08:53] #8 closed

[2017-07-14 18:34] roman01la commented on #8
Static styles extraction means writing all styles into a file at compile time. Thus even unused styles will be dumped into that css file.

Without static extraction (all styles are shipped within JS bundle) unused styles are automatically removed by Closure compiler as usual unused code.

[2017-08-08 12:21] jlesquembre opened #9 "Same CSS injected multiple times"
If the function generated by `defstyles` or `defstyled` is called multiple times, the same css is injected multiple times.

In the repository example, [wrapper](https://github.com/roman01la/cljss/blob/master/example/src/example/core.cljs#L12-L16) is used 3 times, making that the same css is injected 3 times (class `css-412758235` in this example):

![screenshot_2017-08-08_14-09-37](https://user-im

[2017-08-08 12:32] roman01la commented on #9
I'm aware of this. I'd love to accept a PR to fix this. Basically an instance of `cljss.sheet/Sheet` should keep internal cache of inserted rules, where a key is a hash derived from a rule being inserted and value is the rule.

[2017-08-08 12:46] jlesquembre commented on #9
ok, I'll take a look and try to provide a PR for it.

[2017-08-30 18:45] Jumblemuddle commented on #7
+1

[2017-09-06 11:26] brianium commented on #7
+1

@roman01la do you accept contributions? any guidelines for contributors? how can I go about helping you implement some of these things?

great library by the way 😄

[2017-09-06 11:52] roman01la commented on #7
@brianium Yes, sure. Send small PRs and stick to the code style of the project, that's it 🙂

Regarding CSS Media Queries I haven't decided yet on the exact syntax. I'm onto something like the following but also open for suggestions

[code]

[2017-09-06 11:59] roman01la opened #11 "Keyframes animation"
Tracking issue for keyframes animation syntax.

A variation of [Garden's syntax](https://github.com/noprompt/garden/wiki/Compiler#vendors) seems to be a good fit.

[code]

[2017-09-06 12:25] roman01la opened #12 "CSS attribute for Sablono elements"
I'd like to borrow this feature from [Emotion](https://emotion.sh/#css-prop) library. What they do is allowing to define styles inline on the element via `css` attribute.

[code]

This can be done for Sablono elements as well by hooking into Sablono's compiler that compiles Hiccup syntax. So the following would be possible:

[code]

I guess we'd need to implement own [`compile-attrs`](https://gith

[2017-09-06 12:41] roman01la opened #13 "Set CSS rules limit for a single stylesheet"
Modern browsers has a limit of 65534 CSS rules per stylesheet. We should take this into account and maintain additional [`Sheet`](https://github.com/roman01la/cljss/blob/master/src/cljss/sheet.cljs#L31) instances when the limit is exceeded.

[2017-09-06 17:30] roman01la commented on #12
Done in `1.4.0`

[2017-09-06 17:30] #12 closed

[2017-09-06 18:47] brianium commented on #7
@roman01la cool! I'll take a look at the syntax some more, but it looks like a good first approach. I'll take a crack at this, and maybe we can discuss further if I hit a snag.

[2017-09-06 21:36] roman01la commented on #13
fixed in ef4d64e

[2017-09-06 21:36] #13 closed

[2017-09-07 01:13] brianium opened #15 "dev workflow question"
Was attempting to get started on #7 and I hit a minor snag with getting up and running.

Maybe I'm not a wizard at Clojure yet (entirely possible) - but I feel like I had to jump through some hoops to get a repl connected for development. Wondering if you could shed some light on what your development workflow looks like @roman01la

I've been used to figwheel in the past, but I wasn't in a rush to

[2017-09-07 11:12] brianium commented on #15
I should add the above approach also required that I add

[code]

To `example.core`

[2017-09-07 13:04] roman01la commented on #15
@brianium I'm not using REPL or Figwheel in this particular project. But if you want, you can use whatever makes your dev workflow easier :)

[2017-09-07 13:10] brianium commented on #15
Awesome! Thought maybe I was missing something. Thanks!

[2017-09-07 13:10] #15 closed

[2017-09-07 15:19] roman01la commented on #11
implemented in a763a74

[2017-09-07 15:19] #11 closed

[2017-09-07 15:34] roman01la commented on #7
FYI: CSS keyframes support has landed in 1.5.0

[2017-09-07 19:48] roman01la opened #16 "Benchmark"
Would be interesting to have a benchmark to compare with existing CSS-in-JS libraries

[2017-09-08 11:44] brianium opened #17 "Invalid props passed along (reagent)"
I've only tested this with reagent - but I imagine it's an issue anywhere props are just passed through directly to react.

All props for a styled component are passed to the underlying component. This results in a warning if react doesn't recognize the prop.

Since props are a pretty big piece of configuring styled components, maybe there is something we can do to filter out invalid props before

[2017-09-08 11:46] brianium commented on #17
https://github.com/styled-components/styled-components/issues/439 seems related

[2017-09-08 11:52] brianium commented on #17
And https://github.com/styled-components/styled-components/issues/135

[2017-09-08 12:30] roman01la commented on #17
AFAIK this is the issue in all CSS-in-JS libraries. cljss solves this partially by using keywords in styles declaration to read from props, those props would be removed then

[2017-09-08 12:48] roman01la commented on #17
We could try to use meta as a hint to determine which attribute should be removed

[code]

[2017-09-08 13:02] roman01la commented on #17
We can use either a type hint like meta `^size`, which will become `:tag` field on meta object or set it to a special field for example `:prop` using `^{:prop :size}` notation

[2017-09-08 14:54] brianium commented on #17
Both are really intriguing to me. I think style makes sense as meta. The little bit of extra syntax is not a problem for me - but wonder if it would deter others? Personally, I find the `:tag` variant is more appealing

[code]

That would solve my problem nicely :) - and I think it is still clear what "prop" is being used for the style when you use it:

[code]

Seems like an easy win to me ¯\\\_(ツ

[2017-09-08 17:34] roman01la commented on #17
I also like the shorter. But keep in mind that we are talking about `^prop` and not `^:prop`. The first will be a symbol `prop` in a field `:tag`, but the latter will be a separate field `:prop` in meta object with value of `true`. This means that even though the latter syntax is more attractive, there's no straightforward way to find that prop in meta object then.

[2017-09-09 12:51] roman01la commented on #17
@brianium if you are going to implement this here's how I'd do it: since styles declaration is static, it's possible to extract all `:tag` symbols into a set in `defstyled` macro, convert them into keywords and pass that collection into runtime function which will `dissoc` on props map.

[2017-09-09 12:57] brianium commented on #17
@roman01la great! I'm looking at it right now - I'll be sure to ask if I get stuck on something. Thanks!

[2017-09-09 15:50] brianium commented on #17
Spent a little time setting up a workflow in #18 - and then started tinkering with some things on this.

I don't think I have has much clarity as I thought I did on the use of `:tag`.

In your [comment above](https://github.com/roman01la/cljss/issues/17#issuecomment-328094022), you gave an example using `^:size`. How would `^size` work if the symbol `size` has not yet been defined?

Also how would

[2017-09-09 17:21] roman01la commented on #17
You are right, tag requires a symbol to be defined. I didn't think of it first. As for having multiple props mapping to a single style prop I'm not sure if this is a valid use case 🤔

[2017-09-09 21:16] brianium commented on #17
Back to the drawing board I suppose 🤔

[2017-09-11 20:55] brianium commented on #17
Is it worth maintaining a whitelist for a given tag? It seems this approach is generally frowned upon - and not bulletproof by any stretch, but it is the approach styled components currently uses - and it may be good enough in the short term?

[2017-09-11 20:58] brianium commented on #17
Or perhaps a higher order function that allows something like [this](https://github.com/styled-components/styled-components/issues/439#issuecomment-327251673)?

[2017-09-11 22:15] roman01la commented on #17
I think we could still rely on `^:attr` meta if we make sure that no other keys in meta map have values eq to `true`

[2017-09-11 22:51] roman01la commented on #17
Another approach that could work is to use `with-meta`

[code]

[2017-09-16 15:07] brianium opened #19 "Tag new release with "refer-macros" change"
Having some trouble compiling a project using `1.5.1` it is complaining about an invalid `:refer`  to `cljss.core/make-styled`  within `cljss/reagent.cljs`. I think the changes I made in #18 would fix this issue. Maybe tag a `1.5.2`?

[2017-09-16 15:56] roman01la commented on #19
Sure, will do tomorrow. I suspect it complains only when used with Figwheel?

[2017-09-16 15:57] roman01la commented on #17
@brianium did you have a chance to play with `with-meta`?

[2017-09-16 15:59] brianium commented on #19
I am using figwheel - but I was getting an error after cleaning and using just cljsbuild.

[code]

[2017-09-16 17:34] brianium commented on #17
Not yet.

Been working through a feature in an app with `cljss` and planning on tackling this as part of wrapping that up :)

I'm still a little unclear with the example above. Is the idea to supply meta to the function being used to calculate style? Would you mind showing a more realistic example of how that might be used in a component? Something like this?:

[code]

And this would be our queue

[2017-09-17 03:13] roman01la commented on #17
I just pushed to master an implementation with `with-meta`

[2017-09-17 19:41] brianium commented on #17
Nice work!

Looking at the example:

[code]

I wonder if we could use the meta to make the function call even more succinct by using the meta value to just provide that prop as the function argument?

So instead of `#(str (:padding-v %) " " "8px")` we could just do `#(str % " " "8px")` - since we will know the intention is to use `:padding-v` because of the meta.

Thoughts?

[2017-09-17 19:48] roman01la commented on #17
I like the idea. The meta could probably be a vector in case when there are multiple props would be used.

[2017-09-18 09:32] roman01la commented on #17
@brianium Done https://github.com/roman01la/cljss/commit/101725ad8ba4e8011c774518ae04a10d00a8fecd

Do you think this could finally resolve the issue?

[2017-09-18 10:01] roman01la commented on #19
published `1.5.2`

[2017-09-18 10:01] #19 closed

[2017-09-18 10:17] roman01la opened #20 "Status attributes in `defstyled`"
I've seen this idea popping out in a couple of CSS-in-JS libraries. Basically this is an additional syntax to allow declarative states definition

Instead of this
[code]

Do this
[code]

thoughts? @brianium

[2017-09-18 17:03] roman01la commented on #20
pushed initial implementation https://github.com/roman01la/cljss/commit/62366f97cfae5df69b93cd40d1226c516c699ce3

[2017-09-18 21:10] brianium commented on #20
@roman01la you're killing it! 💯

If it's helpful, I will take a look at this along with #17 tomorrow morning.

Thank you!

[2017-09-19 10:21] brianium commented on #17
Perfect! Looks like you took care to support a single keyword or a vector of keywords. This will be super useful. I'll close the issue out. Thanks again!

[2017-09-19 10:21] #17 closed

[2017-09-19 10:35] brianium commented on #20
Is the pattern a little loose on this [line](https://github.com/roman01la/cljss/commit/62366f97cfae5df69b93cd40d1226c516c699ce3#diff-88ff2d577c24331f96863b5483beec8aR17)?

I think it is currently working in the example because of the `map?` check - but I think instead of the pattern `#"^.*\??"` - you would want something that doesn't make the `?` optional correct? Something closer to `#"^.*\?$"`?

[2017-09-19 11:03] roman01la commented on #20
@brianium oh crap! you are right

[2017-09-19 11:18] roman01la opened #21 "EXPERIMENTAL: Atomic styles"
Pushed initial implementation into `atomic-styles` branch https://github.com/roman01la/cljss/commit/5b2cf7aad9d581908f811436acad4379044d4a99

The idea is to to have a unique class name per every rule/value pair so style declarations can be reused. In this implementation only static styles are _atomized_.

It is based on this [atomic styles implementation](https://gist.github.com/rauhs/ac6349dd20f1

[2017-09-19 11:20] roman01la commented on #21
@brianium Would you mind to test this on your project and report _before_/_after_ output bundle size?

[2017-09-19 11:23] roman01la commented on #20
fixed

[2017-09-19 12:32] brianium commented on #21
sure thing - I should be able to check it out tonight or tomorrow.

[2017-09-19 12:33] brianium commented on #20
The rest of the code looks good - haven't tested it, but I should be able to do that tonight or tomorrow as well.

If it's helpful - you can submit pull requests and we can leverage the review tools in GitHub. I would totally be willing to do that. Whatever works best for you.

[2017-09-20 10:59] brianium commented on #21
@roman01la not sure what's going on, but my before and after are the same (both 340K). I also got some warnings when trying out the `atomic-styles` branch. Here is the output from compiling:

[code]

The application still functions for the most part - but pseudo classes don't appear to be functioning - which makes sense given the warnings.

As for file size, it may be that my app is not large enou

[2017-09-20 11:24] roman01la commented on #21
@brianium I think I've fixed pseudo-selectors, but anyway, I've also tested this on a somewhat larger amount of styles and surprisingly the output got larger. Let's step aside from this for a while, it's definitely not a priority, at least for now. Maybe I'll get back to this later. Thanks.

[2017-09-20 11:39] brianium commented on #20
@roman01la didn't get around to actually pulling this into an app this morning - but I will definitely be able to do so tonight 👍

[2017-09-20 23:06] brianium commented on #20
@roman01la - had to rebase against master to try within my project, but everything seems to be working. Anything else I can do to help out with this?

[2017-09-20 23:08] brianium opened #22 "tests?"
I don't want to introduce something that creates work that no one wants to do, but how do you feel about adding a test suite for some of these things? I would be open to doing this if it's welcome.

Writing some tests would be a good exercise for me, and might also be nice to have if others start contributing.

Thoughts?

[2017-09-21 08:28] roman01la commented on #22
sure, I don't mind

[2017-09-21 08:29] roman01la commented on #20
Thanks! Going to release this.

[2017-09-21 08:29] #20 closed

[2017-09-21 12:31] brianium commented on #22
Cool cool. I'll close this for now to cut down on noise. Thanks!

[2017-09-21 12:31] #22 closed

[2017-09-23 13:37] Atsman commented on #7
Hello,

I would prefer if it will look something like this:

[code]

Because that would be familiar for people who already use garden. And attributes in style map should be used only for css props. They should have only one responsibility. Does that male sense?

[2017-09-23 15:03] Atsman opened #23 "Make classname readable during development."
Hello,

I have set goog.DEBUG to true. In ether case my css classes look like css-{id}.

I expected to see readable css classes, because now it is really not comfortable work with such names during development.

Any ideas?

Aleh

[2017-09-23 15:38] roman01la commented on #23
Debugging mode just makes it possible to edit styles in devtools while suffering performance. In future versions I might go with ns + var name instead of a hash.

[2017-09-23 15:39] roman01la commented on #7
Not sure yet. It's a subject to experimentation.

[2017-09-23 15:48] roman01la commented on #23
In fact this will be needed when implementing SSR support, bc hashing in Clojure/Java works differently.

[2017-09-24 17:21] roman01la commented on #23
fixed in aaf1a55b

[2017-09-24 17:21] #23 closed

[2017-09-24 20:55] Atsman commented on #23
Thank you for so quick fix

[2017-09-25 20:19] Atsman commented on #7
When do you think this feature will be released?

[2017-09-25 20:55] brianium commented on #7
@Atsman - I'm not sure if I'm blocking this at all. @roman01la is pretty on top of things, but I did say I would take a crack at it. Not sure if he is waiting on me? I've been trying to do a little housekeeping before I get to this - i.e writing tests. Also I haven't needed this feature quite yet in my current project that leverages CLJSS - so I haven't felt a rush to do it. Am I blocking you @rom

[2017-09-26 08:45] roman01la commented on #7
@brianium Not at all. I also don't need this at the moment.

I think I'll go with Garden syntax for this, but don't know yet when it's going to land.

[2017-09-26 11:24] Atsman commented on #7
How do you live without media queries? Or do you use also external styles where you define them ?

[2017-09-26 17:05] roman01la commented on #7
I'm not sure how should styles declaration looks like with `at-media`.

`defstyles` looks as a function declaration
[code]

`defstyled` looks as a var declaration
[code]

this doesn't look good to me
[code]

[2017-09-26 17:27] roman01la commented on #7
namespaced keywords could help with both problems (keep original styles definition structure and don’t interfere with props)

[code]

[2017-09-26 19:38] Atsman commented on #7
Hi is there any problems with `at-media` approach? I like it because, you know, in css there are two types of rules,  rule set or declaration block which consists of selector + set property: value. And at-rules, statement with an at sign @. Last variant for me seems like we trying to make simple css property to play at-rule role. And the way you pass condition and actual style feels complex. That

[2017-10-03 10:35] eneroth opened #25 "Figwheel + defstyled"
Do you have to do something in particular to get Figwheel to hot reload `defstyled` declarations when using `cljss.reagent`? Currently I'm a bit stuck with cold reloads to get them to update.

[2017-10-03 12:07] roman01la commented on #25
I'm not sure, it should work. Do you have a project to reproduce this?

[2017-10-03 12:40] eneroth commented on #25
I've stripped out everything but the skeleton, but this should reproduce it: [defstyled.zip](https://github.com/roman01la/cljss/files/1352254/defstyled.zip)

[2017-10-03 13:35] roman01la commented on #25
Cool, thanks! Gonna take a look later today.

[2017-10-04 12:02] roman01la commented on #25
Well, this seems to be a bug. Styles are not generated properly, I'll see if I can do anything to solve the issue.

[2017-10-04 12:17] roman01la commented on #25
@eneroth Am I right in that only _static_ part of styles declaration doesn't get reloaded?

[2017-10-04 12:37] roman01la commented on #25
fixed and published as v1.5.5

[2017-10-04 12:37] #25 closed

[2017-10-04 16:46] eneroth commented on #25
Brilliant, thank you @roman01la!

[2017-10-04 21:15] esseswann commented on #7
Can't we reserve submap-keys as media query rules?
[code]

[2017-10-08 21:00] den1k commented on #7
I'm in favor of @esseswann approach. It implies that key describes the constraints for the rules without having to pull in any namespaces or refer functions. Personally, `at-media` in garden always felt ad-hoc. When I write CSS, I simply want to write hashmaps of with style, some potentially dynamic. Dealing with good ol' data lets me do all of that.

[2017-10-09 08:19] roman01la commented on #7
@den1k @esseswann LGTM, the only concern is: is this syntax unique to media queries? Just to make sure this won't be a problem in future.

[2017-10-09 10:06] esseswann commented on #7
@roman01la I was just writing that probably it would conflict with ideas for pseudoclasses and such

[2017-10-09 10:22] roman01la commented on #7
@esseswann `not` pseudo could have the following syntax, which is a bit better imo
[code]

[2017-10-09 15:23] den1k commented on #7
@roman01la looks good. A tradeoff is that it complicates merging styles. Since multiple hash-maps with `:not` keys would need to be deep merged. I also like:

[code]

[2017-10-09 16:47] roman01la commented on #7
@den1k cljss doesn’t work with dynamically constructed maps of styles. Styles definition should be declarative. Everything is processed at compile time into static and dynamic styles. Dynamic part can be only CSS values

[2017-10-09 18:20] den1k commented on #7
@roman01la noted! @esseswann it could with nested vectors. I wrote and extensively used some utils to extend garden with vectors for combined values, e.g.

[code]

This defaults numbers to pixels, but that's just my default. It could leave them as is. I really enjoyed writing styles that way. Source: https://gist.github.com/den1k/1f6caa8eb3e8a4603aa8d03c4508f512

So @esseswann based on your exampl

[2017-10-10 05:13] Atsman commented on #7
Maybe original garden creator can add something here @noprompt?

[2017-10-12 08:54] roman01la opened #27 "Implement @font-face injection"
`font-face` macro should construct CSS `@font-face` at-rule and expand into a function which injects declaration at runtime

Support all descriptors as defined here https://developer.mozilla.org/en-US/docs/Web/CSS/%40font-face

Should be something like
[code]

[2017-10-12 08:59] roman01la opened #28 "Implement inject-global"
`inject-global` should be used to inject arbitrary global styles, for example to reset `body` element styles etc.

Global styles definition should be a map from CSS selectors (either keywords of strings) to blocks of CSS.

[code]

[2017-10-12 09:04] roman01la opened #29 "Support server-side rendering"

[2017-10-12 12:45] roman01la commented on #27
fixed in `1.5.9`

[2017-10-12 12:45] #27 closed

[2017-10-12 12:58] Atsman commented on #27
I like that at least font-face at-rule you decided to implement as macro. I hope that media at-rule will be implemented in similar way :)

[2017-10-12 14:32] roman01la commented on #28
fixed in `1.5.11`

[2017-10-12 14:32] #28 closed

[2017-10-13 08:35] Atsman commented on #7
Also i am thinking, is it possible to have a few ways of defining media queries? I personally don't like, when something solved in multiple ways, but here that maybe a good idea. it's just a matter of tastes. And when people then try different ways, community will show what is better...

[2017-10-13 11:21] esseswann commented on #7
@den1k This is looking nice :)
@Atsman We can parse complex keys like JSS does, don't we?

[2017-10-13 12:42] Atsman commented on #7
@esseswann definitely we can, don't see any reasons why not.

[2017-10-17 23:59] brianium opened #32 "devcards"
I have enjoyed seeing the tests added for new features 😄

I've been using [devcards](https://github.com/bhauman/devcards) in a couple of other projects, and I think they may be a good replacement/supplement to the current `example` project.

They are a joy to work with, and they also serve as a good visual repl/test suite.

[2017-10-18 00:00] brianium commented on #32
@roman01la I'm hoping to add a few more tests to existing code, but was wondering if you have any objections to introducing devcards as a more formal visual suite of tests? It has great integration with most of the react libs in cljs.

[2017-10-18 07:02] roman01la commented on #32
Yes, sure. Indeed Devcards is good for organizing UIs.

[2017-10-20 12:17] brianium opened #33 "Integers should assume "px" value"
In React - when providing an integer as a style value - the unit is assumed to be `px`. I also do this in reagent.

I would expect the following:

[code]

To produce a valid style - however it omits `px` in the generated CSS.

The example below does work:

[code]

[2017-10-20 12:59] roman01la commented on #33
This is something I was thinking about. Actually master now does this (not released). What I didn't like is that now since all numbers are blindly translated into `px`s, you can't do `:flex: 1` and similar unit-less CSS rules

[2017-10-20 13:02] roman01la commented on #33
There are to options to handle this properly

1. Replicate React's behaviour (probably whitelisting)
2. Extend cljss DSL to CSS units e.g. `:font-size [3 :em]` or something

[2017-10-20 14:15] brianium commented on #33
🤔  hmmmm - React's behavior would feel more familiar, and the DSL route seems to just make typing a css unit more awkward - i.e it might be preferable to just type "3em" instead of `[3 :em]`.

The point on `flex` is a good one 😄

My vote would be to replicate React's behavior, or leave it as is.

[2017-10-20 14:17] roman01la commented on #33
ok, I'll take a look at React's internals in this regard

[2017-10-22 14:09] brianium opened #34 "pseudo classes breaking styles in production builds"
@roman01la looks like you are working in here right now - so maybe this won't be an issue for long 😄

I have a style:

[code]

This style works great during development - i.e `goog.DEBUG` is true.

However doing a production build seems to totally invalidate that style (i.e none of the styles apply at all). If I change the style to omit the pseudo class, it works fine:

[code]

[2017-10-22 15:42] roman01la commented on #34
Yes, already fixed on master :) Will publish and close tomorrow.

[2017-10-22 19:52] brianium commented on #34
Awesome. Looks like some of the latest test runs on Circle have been failing too - would you be open to updating tests to fit your new `build` module and getting the circle build passing again? Or is there anything I can do to help?

[2017-10-22 19:52] brianium commented on #34
and as always - thank you!

[2017-10-23 08:21] roman01la commented on #34
I'm not sure I'm done this change yet, so maybe we could fix tests later.

[2017-10-23 10:42] brianium commented on #34
Sounds good 😄

[2017-10-28 14:20] jasich commented on #34
Sorry late to the party, what's the current state?  Implemented but tests are failing?

[2017-10-31 10:04] roman01la commented on #34
fixed in v1.5.12

[2017-10-31 10:04] #34 closed

[2017-11-09 22:29] jasich opened #35 "Support for re-agent class aliases"
In Reagent you can use either `:className`, `:class-name` or `:class`.  It seems that cljss doesn't support `:class-name` or `:class`, but it would to support them at least for the reagent defstyled macro.

[2017-11-16 18:15] Atsman commented on #29
So, to support server side rendering need to rewrite everything in cljc and conditionally use deps, right?

[2017-11-16 18:15] Atsman commented on #33
Second option is ugly, are u going to replicate React behaviour?

[2017-11-22 16:40] mulchy opened #36 "Error calling defstyled macro"
To reproduce:
  1. Clone this repo
  2. Run lein figwheel
  3. navigate to http://localhost:3450/index.html

Expected:
  A demo of using CSS in CLJS

Actual:
[code]

I tried to dig into the macro a bit to see what was going on, but would need more time to actually understand the code. Somewhere, we are trying to call clojure.string/replace on an array instead of a string.

[2017-12-12 22:59] alexisvincent commented on #36
@roman01la I think 1.5 introduced a regression. I get this error and another about invalid arity on a vector with 1.5 but not 1.4.0

[2017-12-14 10:52] roman01la commented on #35
@jasich Is this really important? I'd stick with a single way to define class attribute.

[2017-12-14 12:23] roman01la commented on #36
Published a fix in `1.5.13`. Give it a try and let me know if there's something still missing.

[2017-12-14 12:23] #36 closed

[2017-12-14 12:29] roman01la commented on #33
@brianium I've been looking into it at it seems like React discourages unitless CSS values. In particular since React v15 it issues warnings about unitless values. In later versions they want to get rid off automatic units. So I think we should stick with explicit units. What do you think?

[2017-12-14 12:38] roman01la commented on #33
Crazy idea: use namespaced keywords to specify units
[code]

[2017-12-14 14:02] jasich commented on #35
The reagent project that I'm working on started off not using cljss so at the time I decided to use kebab case since it seems to read like idiomatic Clojure.  I've been moving newer components over cljss and now the project has a mix of the two.  I considered changing the existing instances of kebab case over, but it seems less ideal.

Time is precious so feel free to close this issue as this is a

[2017-12-14 14:06] brianium commented on #33
@roman01la ah - I would be in favor of keeping in step with react, though the namespaced key idea is very elegant.  I would be in favor if it were optional :)

Thanks for looking into this :)

[2017-12-14 14:45] roman01la commented on #33
Great. Closing the issue then.
I'm definitely looking into this syntax :)

[2017-12-14 14:45] #33 closed

[2017-12-14 15:14] Atsman commented on #33
What the point of that syntax ? If u need it, create functions and use them, why you trying to create some weird keyword syntax, like about media queries, now about units

look here https://github.com/noprompt/garden/blob/master/src/garden/units.cljc

[2017-12-23 02:10] sherbondy commented on #7
FYI, here's a comprehensive listing of CSS At-rules:
[MDN At-rules](https://developer.mozilla.org/en-US/docs/Web/CSS/At-rule)

Beyond `@media`, both `@supports` and the (experimental) `@document` rules both have the same sort of nested definition capability and syntax, referred to in the CSS spec as [conditional group rules](https://www.w3.org/TR/css3-conditional/#processing).

So I don't think us

[2017-12-23 09:47] esseswann commented on #7
@sherbondy I kind of support these concerns, explicit is better than implicit. But I think there is a room for a little creativity here, it's very elegant in `JSS` for similar cases.

[2017-12-23 21:42] kurtharriger opened #37 "soblono dependency"
soblono appears to be a dependency but in project.clj is only listed in the dev profile

clojure.lang.Compiler$CompilerException: java.io.FileNotFoundException: Could not locate sablono/compiler__init.class or sablono/compiler.clj on classpath., compiling:(sablono/cljss_compiler.clj:1:1)

[2017-12-28 20:22] roman01la commented on #37
fixed in a1b59d92fd

[2017-12-28 20:22] #37 closed

[2017-12-28 20:32] roman01la commented on #35
If you meant this for `defstyled`, I've just fixed it in 0932afed5

[2017-12-28 20:32] #35 closed

[2018-01-01 12:50] roman01la commented on #7
Just published experimental support for Media Queries in `1.6.0-SNAPSHOT`. The syntax is specified as of CSS Media Queries Level 4 spec [here](https://github.com/roman01la/cljss/blob/master/src/cljss/media.clj)

[code]

Currently it doesn't fully support `:or` condition and dynamic values within queries (not sure if we need it at all tbh).

Supported media types: `#{:all :print :screen :speech}`
M

[2018-01-01 16:52] Atsman commented on #7
@roman01la  hello, super great :) i am going to play with it.

[2018-01-02 17:13] roman01la commented on #7
FYI, I've updated `1.6.0-SNAPSHOT` with improved media queries. The syntax is changed a bit to match the spec. Now you can declare multiple MQs, which makes `<media-query-list>` token. In CSS it is a comma separated query (`@media screen and (max-width: 460px), print and (color)`)

[code]

[2018-01-07 05:05] kurtharriger opened #38 "display name"
When you install the react developer tools for chrome and view the react panel all the styled components are rendered with element name G_18695 in my case.  I assume the macro just needs to set a display name

<img width="725" alt="screen shot 2018-01-07 at 4 03 33 pm" src="https://user-images.githubusercontent.com/112603/34646741-7d3d13b8-f3c4-11e7-9f7f-0c53c226e2c7.png">

[2018-01-07 05:09] kurtharriger opened #39 "Multiple predicate attributes doesn't work"
I have the following with 3 different colors for complete active and pending / default.  But if either active? or complete? is true it renders the active color. If I reverse the order of the predicates it will then render the complete color if either is true.

[code]

[2018-01-07 08:38] roman01la commented on #38
Are they `defstyled` components?

[2018-01-07 08:39] roman01la commented on #39
I’ll look into this, thanks for reporting

[2018-01-07 09:28] roman01la commented on #38
fixed in 783b8d2

[2018-01-07 09:28] #38 closed

[2018-01-07 21:02] #39 closed

[2018-01-11 12:07] roman01la opened #40 "Proposal: design system utilities"
See [styled-system](https://github.com/jxnblk/styled-system) for reference.

I think this can be useful for someone who's building design system for their project. I've pushed transformers for spacing, font size and width utilities in 660693db4.

## The idea

The idea is to hide details about spacing, font size, etc. behind special attributes.

For example this
[code]

Transforms into this (based

[2018-01-25 19:46] esseswann commented on #40
It would be extremely handy to specify at least a basic unit like classic `html { font-size: 8px }` used for `rem`-based grid. I'm not sure about doing it with multiple contexts but for simple cases just swapping some imported atom `(reset! cljss/default-unit "8px")` wolud be nice.

[2018-01-30 20:27] roman01la commented on #7
If there's no any complains, I'm gonna publish a stable version with Media Queries support.

[2018-01-30 20:30] esseswann commented on #7
I played a bit, seems all right for now

[2018-02-20 09:40] roman01la commented on #7
Just published `1.6.0` with media queries support

[2018-02-20 09:40] #7 closed

[2018-03-03 20:58] rundis commented on #34
I seem to have this issue too with 1.6.0 (also tried 1.5.12 and 1.5.13). Works great in dev, but not so much with advanced compilation. Tried with `:&:hover` and `:&:after`/`:&:before` (unsure how to represent `:nth-child(1)` btw)

[2018-03-04 11:44] roman01la commented on #34
Hi! I’ll try to find time for this next week. Thanks for reporting!

[2018-03-24 00:56] lwhorton opened #42 "inject-global requires"
https://github.com/roman01la/cljss/blob/895152db118d81547b404598c457f11fcdd01738/src/cljss/core.clj#L172-L173

The way the `inject-global` macro is written it is currently impossible to refer to a symbol from another namespace. Unless I'm mistaken, the macro should probably attempt to resolve a given symbol at compile time via `(ns-resolve ...` or `(resolve ...`. The use case for this is defining

[2018-03-24 02:09] lwhorton opened #43 "cleaning up of duplicates?"
Great job on this library. It's *almost* exactly what I was looking for on a new project, except for two issues.

One: a side effect of using `defstyles` is that every time I invoke the fn generated by the macro, I get a new style chunk added to the `<style>` tag. If you style a component that's re-rendered frequently this can very quickly lead to an enormous style block inside your html head. Cou

[2018-03-24 22:37] lwhorton commented on #43
To elaborate a little further, what I'd ultimately like to see beyond memoization is somple deduplication. If I render a 5-element list using reagent:

[code]
I shouldn't see 5 instances of the exact same "my_module__my-style-fn-<hash>" appear in the root style tag, ya know?

[2018-03-28 08:39] roman01la commented on #43
Styles duplication is definitely a bug. Regarding Reagent case I guess this happens when you use `defstyled`? If so, there's no runtime compilation from kebab case to camel case attributes. You have to pass camel based attributes into `defstyled` components.

[2018-03-28 09:13] roman01la commented on #43
Runtime attrs conversion for `defstyled` landed in master

[2018-03-28 09:50] roman01la commented on #43
styles duplication fix is landed in master as well

[2018-03-28 09:50] #43 closed

[2018-03-28 10:20] roman01la commented on #42
It's not possible since styles are processed in Clojure at compile time. AFAIK there's no way to resolve vars between ClojureScript and Clojure environments.

[2018-03-28 10:20] #42 closed

[2018-03-28 14:45] lwhorton opened #44 "support for IE"
Once again, great job on this lib. It's nearly-exactly what I would have written myself, so thanks for saving a ton of time.

It would be great to support later IE versions. Currently IE [doesn't support css-vars](https://caniuse.com/#feat=css-variables). You can really easily [get around this](https://vgpena.github.io/winning-with-css-variables/#providing-fallbacks) by outputting both a var and a

[2018-03-28 14:56] lwhorton commented on #42
Okay, I understand. I should be able to get away with a `base_styles.clj` file that defines styles instead.

[2018-03-28 15:29] roman01la commented on #44
I don't really plan to support browsers without CSS Variables support. Are you sure ClojureScript perf is fine on IE <11? Runtime styles may make it even worse.

[2018-03-28 16:01] roman01la commented on #42
I figured the macro could try to resolve a var and get its value. Just pushed `1.6.2`. `inject-global` and `font-face` now understand styles declarations referenced from *.clj namespaces.

[2018-03-28 17:30] lwhorton commented on #44
Ah that's a bummer. Would it be a lot of work to support this? Unfortunately it's not <11 i'm worried about; even 11 doesn't support css vars (thanks to Edge, probably).

[2018-03-28 18:31] lwhorton commented on #44
I took a closer look at the code. Would you approach it here: https://github.com/roman01la/cljss/blob/master/src/cljss/collect.clj#L30-L31 ?

I think you could just iterate over the vars once again and conj the non-var version into the right position (above the var rule) so that your downstream struct -> rule string doesn't have to change.

[2018-03-28 21:29] lwhorton commented on #42
Could this also be used in the root defstyled macro? Is there anything preventing a rule definition (in cljs) from referencing a clj variable? For the same above reasons, suppose I want to define a bunch of breakpoints. It would be really annoying to have to use `"768px"` in each and every `::css/media` query, where what I really want is something like `:max-width vars/medium-size-screens`. Is thi

[2018-03-28 22:06] lwhorton commented on #42
Nevermind - I think a satisfactory solution is to write my own macro and use it to `get-var` at compile time.
[code]

[2018-03-29 16:14] lwhorton commented on #42
Could you speak a little more to this:

I was attempting to write a macro that would compile-time swap out vars declared in a clj file. Mainly so I could just use some macro like `(get-var some-var-in-a-file)`:
[code]
Except I'm bumping into an issue where `(get-var medium)` isn't actually expanded.

[2018-03-30 15:29] lwhorton commented on #34
I would like to bump this. It seems like there's something fishy with `goog.DEBUG false`. Any `cljss.reagent/defstyled` I have that uses either a pseudo `:&:hover/:active/:focus/etc.` or refers to the `::css/media` doesn't seem to inject any styles during a prod build. It does, however, seem to inject the `--vars` properly as well as assign class="" on the dom node. For example:
[code]

[2018-04-12 18:56] lwhorton opened #45 "No explicit dependency on cljsjs.react"
There’s a hard dependency on `js/React` inside of the `reagent.clj` file — but you don't declare a dep in your project.clj on `cljsjs.react` or some sort of npm dep via `package.json` on `react`. I’m trying to ensure the load order of my own app guarantees `js/React` to exist before using `defstyled`, but I’m not sure its working. Mostly because I don’t know where to stick a require in there becau

[2018-04-25 14:49] alex-dixon opened #46 ":advanced optimizations has empty styles tag"
Hey, thanks for the awesome library.

I'm not seeing any styled content after compiling with :advanced optimizations and setting `goog.DEBUG` to false. DOM nodes  reference classnames generated by the framework, but there aren't any definitions for them as far as I can tell. In development everything's working great and I see the class definitions injected into a style tag at the top of the page.

[2018-04-25 15:01] roman01la commented on #46
Hey. Are you using the latest version? Could you please try an older one and let me know if it works? Thanks

[2018-04-25 15:10] alex-dixon commented on #46
@roman01la I'm on 1.6.0. Should I try older than that?

[2018-04-25 21:04] roman01la commented on #46
Wait, so you mean you don’t see styles in style tag but content is still styled on the page? If so, that’s fine. When compiling with debug turned off, the fast pass in enabled for generated CSS. These styles injected at runtime are not visible in style tag, but they are still there.

[2018-04-26 11:31] bertofer opened #47 "Use symbol to reference styles in defstyled macro"
First of all, thanks for the work on this library! I just discovered the whole css-in-js ecosystem and I am trying to apply it in clojurescript.

My use case: I want to use some style rules in different elements. I thought, maybe I can define the styles map as a variable, and then use it / merge it when defining the styled element, thus reusing some of the rules in different components.

Some simp

[2018-04-26 11:42] roman01la commented on #47
Hello 👋

Unfortunately this is not possible, because cljss is purely compile-time library when it comes to styles definition. It requires styles maps to be defined in place, so macro can compile it into static CSS that is injected at runtime, including dynamic parts. Allowing referencing vars and merging styles would mean to perform compilation at runtime which is itself is not very performant pro

[2018-04-26 16:11] bertofer commented on #47
Hi @roman01la , thanks for the answer. In that case, would there be anyway to compose different styles? I think it's something that could be done in compile time too.

Right now the way I can think of is creating different `defstyles` and calling them in runtime to get the proper classnames and append them to the :class of the object.

Is that the proper way to go?

Thanks!

[2018-04-26 16:45] bertofer commented on #47
Developed a couple of functions that are very useful for this scenario:
[code]

This is a reasonable solution for me, this can be closed if you consider so @roman01la ;)

[2018-04-27 08:58] roman01la commented on #46
@alex-dixon does this answer your question?

[2018-04-27 09:01] roman01la commented on #47
You are right, the only way to compose styles is by combining class names. Some libraries in JS world provide a special syntax for this e.g.
[code]

but in the end it's still string concatenation, so I prefer to leave this to developers.

[2018-04-27 09:01] #47 closed

[2018-04-28 01:01] alex-dixon commented on #46
Thanks. No the page has no styling. Good to know the empty style tag isn’t the cause. I tried rolling back to the last published version but ran into other issues. Browser is chrome. Can provide more info if it’s not reproducible.

[2018-05-17 16:31] lwhorton commented on #46
I too have this issue. The fast-insert in `goog.DEBUG = false` does seem to add rules if you inspect the `<style>` tag's internal properties, but for some reason those rules don't take effect.

[2018-05-17 17:09] lwhorton commented on #46
Some more debugging information:

It looks like the `vars-*` classes exist in the css ruleset, but not any properties defined in an autogen class. It _seems_ that styles defined with `::cljss/media` properties don't inject the ruleset into the dom.

<img width="800" alt="screen shot 2018-05-17 at 9 40 20 am" src="https://user-images.githubusercontent.com/2663599/40191474-84acee4a-59b6-11e8-807d-1e

[2018-05-24 09:39] roman01la commented on #29
@leontalbot yes, it can be ported to `cljc`, but I don't have time for this at the moment

[2018-05-26 05:53] mattly commented on #45
The problem would still persist if you're otherwise bringing your own react or pulling it in via npm-deps. You can workaround the problem with this but i'd prefer to not have to
[code]

[2018-05-26 07:51] roman01la commented on #29
For anyone using cljss with Rum, here's a gist with the code that I'm using to render Rum+cljss on JVM Clojure https://gist.github.com/roman01la/3407c1c32df904f9a570985e9228aeda

[2018-05-29 20:55] kwladyka commented on #45
IMO dependency on `cljs.react` will be mistake. A lot of people use npm packages to get the newest version. I am one of them :) I can always use `:exclude`, but I think assumption there is `React` in dependency is right assumption.

BTW From my experience if you want use js dependencies like npm use `shadow-cljs`. All other solutions will fail.

[2018-06-06 10:44] esseswann opened #48 "Components composability"
![image](https://user-images.githubusercontent.com/6066417/41033527-967a8d24-698f-11e8-905d-3fd03d2e7c86.png)

So `glamorous` allows composition of a kind `styledComponent + styledComponent + commonComponent + ...`. Is anything alike planned\possible at all?

[2018-06-06 11:51] roman01la commented on #48
`defstyles` macro expands into a function that returns a class name when called, so composition is just a concatenation of multiple class names.
[code]

`defstyled` macro expands into React component, compose them as usual components

[2018-06-06 11:51] #48 closed

[2018-06-06 20:54] esseswann commented on #48
This is not the same, because you cannot use those components separately, like
[code]

[2018-06-22 18:47] lwhorton commented on #45
After some thought, I think I'm okay with a wont-fix here. It does seem strange to rely on `cljsjs.react` in the macro itself, instead of it being provided elsewhere. I wonder if it might be better to _force_ people to do a `(set! js/window "React" impl)` and have the macro just pull from the window. In the end it doesn't seem like a huge issue, just a small gotchya.

[2018-06-22 18:47] #45 closed

[2018-06-22 18:49] lwhorton commented on #45
Nevermind. After some thought, a dependency on `js/React` is way better than any alternative. Leave it up to consumers to "inject" their react implementation via `set! js/window "React" impl`.

[2018-07-11 18:13] #16 closed

[2018-07-12 13:02] #46 closed

[2018-07-12 15:12] #32 closed

[2018-07-19 12:08] roman01la opened #49 "String interpolation based styles"
Perhaps this could help someone who wants to transition from plain CSS into CLJSS. The idea is to be able to paste in existing CSS such that it would still work.

Cuerdas library has  a nice macro for [string interpolation](https://funcool.github.io/cuerdas/latest/#interpolate) which can be used in this case. It could look like this:

[code]

Or maybe we could do just fine with this
[code]

The la

[2018-07-24 16:52] lwhorton commented on #44
I have to support an IE11 client, unfortunately. I am going to fork this library and poke around for where I can best insert this change without breaking anything. If you had any pointers on where to start and what effects I might want to watch out for, that would be much appreciated :)

[2018-07-24 21:11] roman01la commented on #44
Essentially you have to move macros into runtime. IE11 doesn’t have the best JS VM so I’m not sure if perf is going to be fine there. I’d make a wrapper on top of existing JS libraries instead.

[2018-09-19 13:24] lwhorton opened #50 ":cljss.core/media race condition / stale class name issue"
This is a doozy.

We noticed that occasionally a `[:print]` media style declaration would render incorrectly. After setting up a minimal-case project, we were unable to recreate the issue at all. It seems that the size of a project (the number of `defstyled`s) plays an important role in recreating the bug. The issue happens inconsistently (not the same elements) and occasionally (not every time),

[2018-09-20 08:14] groundedSAGE commented on #29
1.7.0-SNAPSHOT has 2 circular dependencies which prevents me from testing.

1.  Utils.cljc -> Core.cljs -> Utils.cljc (https://github.com/roman01la/cljss/blob/ssr/src/cljss/core.cljs#L3
, https://github.com/roman01la/cljss/blob/ssr/src/cljss/utils.cljc#L102)

2. Core.clj -> Cljss-compiler - Core.clj (https://github.com/roman01la/cljss/blob/ssr/src/sablono/cljss_compiler.clj#L16, https://github.com

[2018-09-26 11:57] sundaramss opened #52 "Need to remove style attribute, if value of style attribute is nil | false"
defstyles function is not eliminate/remove the style attribute, if value of attribute is nil/false.
ex:
[code]
* `[:div {:class (cell)}]`
output of style is
[code]

[2019-01-08 15:21] romdoq opened #53 "Nested selector with multiple groups aren't all prefixed with class name"
If one has a style defined in the following manner:

[code]

The nested selector will be expanded out to something like:

`.my-app_css__my-style th, td`

Which will apply the given style globally to all `td` elements. Rather, I would expect the resultant selector to have the base class name prepended to each selector group in the list, eg:

`.my-app_css__my-style th, .my-app_css__my-style td`

[2019-01-20 15:14] FieryCod opened #54 "Max-width from breakpoints"
First of all, thank you for `cljss` library! Very nice job!

I found a small bug with media-queries. When I try to use breakpoints in `css/media` definition the styles are not correctly defined.

[code]

[code]

[2019-01-20 15:32] roman01la commented on #54
I mean you have to replace `(:xlarge breakpoints)` with actual value

[2019-01-20 15:32] FieryCod commented on #54
;(

[2019-01-20 15:36] #54 closed

[2019-01-26 02:16] knubie opened #55 "CSS"

[2019-01-26 08:47] roman01la commented on #55
Happy to take a PR! I don't have time for this at the moment.

[2019-02-07 08:45] vnctaing opened #56 "Trouble importing cljss.reagent"
Hello I'm new to Clojurescript,

I have generated my app with `lein new reagent`. I have some issue trying to import `cljs.reagent/defstyled`. I've installed it through lein, by adding it to `:dependencies`

But when I'm trying to use it here in https://github.com/vnctaing/loo/commit/6a09c752943c7499adc8638e1bce080f97f7b237 with

[code]

I get :

`Invalid :refer, var cljss.reagent/defstyled does n

[2019-02-07 09:33] roman01la commented on #56
I think because defstyled is a macro you should go with :require-macros instead of :require

[2019-02-07 09:35] roman01la commented on #56
Or you can go with :refer-macros instead

[2019-02-09 05:15] vnctaing commented on #56
Thanks, I've been able to import the macro but when I call an example from the doc I get this error:

[code]

I've also updated my minimal repo.

[2019-02-18 02:14] vnctaing commented on #56
(It was just the example from the doc that weren't complying with the specs). Thanks for the help @roman01la

[2019-02-18 02:14] #56 closed

[2019-05-27 16:05] roman01la opened #57 "Proposal: Replace runtime with emotion.js"
CSS-in-JS libraries in JavaScript world are mature enough already so it makes little sense to ignore them. I'd propose to replace library runtime with existing JS library, like [Emotion](https://github.com/emotion-js/emotion), and make cljss essentially a thin wrapper on top of JS library.

[2019-07-17 19:15] MichaelStergianis commented on #55
I think the best way to go about this would be to add a new *type* of psuedo-selector to the syntax. As CSS supports cascading styles through order, and clojure maps do not guarantee their keywords will remain in the same order as definition. This leads us to a bit of a contradiction. This is what I propose.

[code]

The idea being that anything you have added to the syntax is designated by a star

[2019-07-19 23:05] knubie commented on #55
@MichaelStergianis Interesting proposal. I think if we take that approach it may make sense to use a "vendor prefix," something like
[code]
Another idea is to have `defstyles` and `defstyled` take a single map **_or_** a vector of styles:
[code]
This is similar to [how Reactive Native works](https://facebook.github.io/react-native/docs/0.59/style).

[2019-10-15 12:54] knubie opened #59 "java.lang.ClassNotFoundException: javax.xml.bind.DatatypeConverter"
I'm trying to set up cljss to develop on locally so that I can submit a PR, but I'm having trouble getting it started.

There doesn't seem to be any info in the README about setting up the environment, so I tried running
[code]
but I'm getting the following error:
[code]

I'm new to clojure on the JVM (I mostly use clojurescript with shadow-cljs), so I could use some help getting set up. Thanks!

[2019-10-15 13:19] roman01la commented on #59
Hello. Sorry I'm not taking PRs right now since a rewrite is planned https://github.com/clj-commons/cljss/issues/57

[2019-10-15 13:59] knubie commented on #59
@roman01la Got it, thanks for the quick reply. I'll describe my issue here then;

This code:
[code]
Will raise a warning from React like:
[code]
Which I think could be fixed by camel casing the style map here: https://github.com/clj-commons/cljss/blob/master/src/cljss/core.cljs#L106

[2019-10-19 16:29] knubie opened #60 "Reagent defstyled issues"
I've encountered a few issues specific to `cljss.reagent/defstyled`:

### Style maps not transformed properly
[code]
Will raise a warning from React like:
[code]
Which I think could be fixed by camel casing the style map here: https://github.com/clj-commons/cljss/blob/master/src/cljss/core.cljs#L106

---

### Controlled input not working correctly
Given a `defstyled` input component like:
[code]

[2019-10-22 04:05] mattly commented on #57
I came here looking for any issues about performance, since a tool I'm using makes heavy use of dynamic styles and I noticed `cljss` was slowing down the repaints quite a bit.

Replacing cljss with emotion for a single heavily-used dynamic style (that often had to change at least 15 instances on a repaint) took my repaint times from 175ms to 13ms.

[2019-10-28 17:55] knubie commented on #57
@mattly Would you mind showing how you're using emotion in your cljs project? Are you using the "vanilla" emotion package, or `@emotion/styled` or something else?

[2019-10-30 03:10] mattly commented on #57
I'm using it from npm under shadow-cljs. I replaced my cljss `defstyles` with a function that called `emotion/css` in a js primitive, with values determined at call time. My use-case for this particular style could require over 100 variations of it at once, with about 1/5th of those needing repaint on the change of a single value.

[2020-01-08 11:28] mapkuff opened #61 "Is it possible to combine nestet style with css media query ?"
something like this

     (defstyles poc-style []
           {".content-wrapper" {::css/media {[:only :screen :and [:min-width "992px"]] {:padding "10rem"}}})

[2020-03-22 18:14] aliaksandr-s opened #62 "Rum issues"
Using `:css` inside conditionals in rum components won't compile properly.

Here is an example of a component:
[code]

And html produced by it:
[code]

[2020-05-31 13:09] zefurocks opened #63 "The link the project's header is broken"
<img width="1003" alt="Screen Shot 2020-05-31 at 8 58 17 AM" src="https://user-images.githubusercontent.com/33770510/83353015-9c4ea400-a31d-11ea-9141-841d3a977939.png">

https://clj-commons.org/cljss/ and https://clj-commons.github.io/cljss/ are both working.

[2020-06-09 07:56] khmelevskii commented on #57
FYI, I created a tiny wrapper for emotion https://github.com/khmelevskii/emotion-cljs and maybe it can be useful

[2020-07-05 17:28] pbnsilva opened #64 "cljss is not defined"
Hello,

I'm attempting to get started with cljss:
[code]

However, I get the error in the console: `cljss is not defined`.

I'm using figwheel and using the dependency `[clj-commons/cljss "1.6.4"]`

What am I missing? Any tips to debug this?

Thank you

[2020-07-06 09:48] #64 closed

[2020-10-18 06:48] vnctaing opened #65 "cljss.reagent: React is not defined"
## Observed Behavior
Hello I'm using Luminus, and I'm trying to use cljss.reagent

[code]

This produce these erros

[code]

[code]

[code]

Is there something I did wrong ?

## Expected behavior

Being able to render red title `[:h1]`.

## Repro repository

https://github.com/vnctaing/tartataing/blob/main/src/cljs/tartataing/core.cljs#L31

[2021-01-08 03:36] KarinaDrummer commented on #65
I have the same problem.

[2021-03-01 19:45] vvvvalvalval commented on #46
@roman01la I don't know if you ever got feedback from @alex-dixon , but I'm on `"1.6.4"` and getting similar symptoms:

1. in production build only, my CSS media queries defined via CLJSS don't seem to apply, while other styling properties work.
2. setting goog.DEBUG to true makes the symptoms disappear.

Should I file a new issue?

[2021-04-25 18:52] ychenz commented on #64
@pbnsilva Could you please let me know how did you solve this? I'm having the same issue. Thanks!

[2021-05-24 05:09] rosenjcb commented on #65
Same error here.

[2021-06-04 18:47] parlir commented on #65
I encountered this as well it looks as though the macro eventually expands to a raw call of js/React

[code]
was a quick fix hack in my case.

[2021-06-04 18:55] parlir commented on #65
It seems as though the macro should avoid expanding to `js/React.createElement` and instead expand to  `reagent.core/create-element` which is a wrapper around Reacts createElement func.

[2021-07-21 23:35] drewverlee commented on #62
I think im seeing the same issue, though shadow doesn't even seem to produce a build when you try this. The commented outversion that doesn't use merge works, the other does work. It seems to expect a hashmap only.

[code]